<%- include("partials/header.ejs") %>
    <div class="container">
        <h1>Hey there!Looking for some jokes.<br>
            Don't Worry!I got You!
        </h1>
        <form action="/submit" method="POST">
            <button type="submit">Click Here</button>
        </form>
    </div>
<%- include("partials/footer.ejs") %>